$maxWidth: 1080px;

.container {
  max-width: $maxWidth;
  min-height: 60vh;
  margin: 0 auto;
  display: flex;
}

.columns {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 4rem;

  .column {
    min-height: 22rem;
    margin-top: 10rem;
  }
}

.h1 {
  margin-bottom: 1rem;
}

.h2 {
  font-weight: 600;
}

.form {
  background-color: #eeffee;
  padding: 0.4rem 1rem;
  min-height: 15rem;
  margin-bottom: 3rem;

  input {
    height: 1.3rem;
    min-width: 18rem;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem 0.4rem;
  }

  .error {
    display: block;
    width: 18rem;
    background-color: pink;
    padding: 0.5rem;
    margin-top: 1rem;
  }

  .button {
    background-color: #ccddcc;
    border: none;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    padding: 0.6rem 0;
    font-size: 1rem;
    cursor: pointer;
  }
}

.extra {
  .forgot {
    text-align: center;
    margin-bottom: 1rem;

    .forgotLink {
      font-size: 0.7rem;
      color: blue;
    }
  }

  .line {
    border-bottom: 0.5px solid gray;
    margin-bottom: 1rem;
  }

  .create {
    display: inline-block;
    margin: 0 4rem 1rem 4rem;
    background-color: #12fcd9;
    padding: 0.5rem;
    text-align: center;
  }
}
